.filters__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search__container {
    margin: 10px 0;
}
.search__input {
    padding: 3px 5px;
    font-size: 1.1em;
}
.filter__label {
    font-size: 1.1em;
    margin-bottom: 4px;
}
.filter__container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.filter__input {
    padding: 3px 7px;
    font-size: 1.05em;
    width: 162px;
}
select.filter__input {
    width: 178px;
}
.filter__submit {
    width: 147px;
    margin: 10px 0;
    background: #0000e6;
    color: #f8f6f6;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 1.05em;
}

.skill__container {
    display: flex;
    align-items: center;
}

.filter__showMore {
    font-size: 0.9vmax;
    width: 100%;
    text-align: center;
    padding-top: 0.2vmax;
    cursor: pointer;
}

.filter__showMore:hover {
    color: #0000b3;
}