.button__container {
    padding: 0.5vmax 1vmax;
    border-radius: 5px;
    cursor: pointer;
    background: #0000e6;
}

.primary {
    background: transparent;
}

.danger {
    background: red;
    color: white;
    border: none;
}

.success {
    background: green;
    color: white;
    border: none;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vmax;
    height: 2vmax;
    border: none;
}

.image img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.favoriteButton__container {
    background: transparent;
    border: none;
    width: 3vmax;
    height: 2.5vmax;
    cursor: pointer;
}

.favoriteButton__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
}