.button__container {
    padding: 0.5vmax 1vmax;
    border-radius: 5px;
    cursor: pointer;
    background: #0000e6;
}

.primary {

}

.danger {
    background: red;
    color: white;
    border: none;
}

.success {
    background: green;
    color: white;
    border: none;
}

.favoriteButton__container {
    background: transparent;
    border: none;
    width: 3vmax;
    height: 2.5vmax;
    cursor: pointer;
}

.favoriteButton__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}