.header-logo-container {

}

.header-logo-container img {
    width: 142px;
    height: 102px;
}

.header-container {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    font-size: 1.3em;
    font-family: Roboto, sans-serif;
}

.header-links {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

.head {
    display: flex;
}

.head div {
    margin-right: 30px;
}
.authentication {
    cursor: pointer;
}

/* LOGIN */

.authorization-container-wrapper {
    display: flex;
    justify-content: center;
}

.authorization-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 30vmin;
    padding: 3em;
}

.form-header {
    text-align: left;
}

.form-footer {
    text-align: center;
}

.authorization-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.authorization-form input {
    padding: 3px 0;
    margin: 5px 0;
}
.submit-button {
    background: #2aabd2;
    border: solid 1px;
}