.vacancyPage__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vacancyPage__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmax;
}