.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.modal__content {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    border-radius: 1em;
    background-color: #fff;
    max-height: 70%;
    max-width: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal__content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}