.vacancy-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45vmax;
    -webkit-box-shadow: 0 0 10px #e6e6ff;
    box-shadow: 0 0 10px #e6e6ff;
    font-size: 1vmax;
    padding: 1vmax 2vmax;
    border-radius: 0.5vmax;
    cursor: pointer;
}

.vacancy__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vacancy__buttons {
    display: flex;
}
.vacancy__header h2 {
    line-height: 1vmax;
}

.salary {
    margin: 0.5vmax 0;
}

.respond-button, .respond-button__disabled {
    margin: 0.5vmax 0;
    padding: 0.5vmax 1vmax;
    border-radius: 0.5vmax;
    width: fit-content;
}

.respond-button {
    background: #0000e6;
}

.respond-button__disabled {
    background: #e6e6ff;
}
.count__new__notification {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 3px;
    font-size: 0.8em;
    font-weight: bold;
    width: 16px;
    height: 16px;
    background: #97dc97;
    border-radius: 12px;
}