.manager__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vmax;
    border-radius: 0.5vmax;
    padding: 1vmax;
    box-shadow: 0 0 10px #e6e6ff;
    width: 25vmax;
}

.managerName__container p {
    margin: 0.5vmax;
}

.managerName__container {
    display: flex;
    flex-direction: column;
}