.submit__button {
    width: 120px;
    margin: 10px 0;
    background: #0000e6;
    color: #f8f6f6;
    padding: 5px 0;
    border-radius: 5px;
}
.resumesPage__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1vmax;
}


.filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vmax;
    margin: 1vmax 0;
}

.resumes__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vmax;
    gap: 1vmax;
    width: 45vmax;
}

.resumes__notFound {
    font-size: 1.5vmax;
}

