.company__container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    /*align-items: center;*/
}
.logo__container img{
    width: 180px;
    height: 180px;
}
.company__info__item {
    font-size: 1.05em;
    display: flex;
    margin-bottom: 10px;
}
.company__info__item__title {
    margin-right: 25px;
}

.myCompany__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vmax;
}

.myCompany__notActive {
    font-size: 1vmax;
    color: red;
}
.upload-logo__container {
    margin: 10px 0;
    width: 250px;
    text-align: center;
}
.upload-logo__button {
  background-color: #eaeafc;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 5px;
  cursor: pointer;
}